# Entorno Virtual
venv/

# Archivos compilados y objetos
*.o
*.so
*.out
*.a
*.dylib

# Directorios de build/distribución
build/
dist/
bin/
lib/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Logs y archivos temporales
*.log
*.tmp

# Archivos de configuración de IDE/Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos específicos de OS
.DS_Store
Thumbs.db

# Salida de herramientas (ej. gprof)
gmon.out